body{
    font-family:'Courier New', Courier, monospace;
    display:flex;
    flex-direction:column;
}

.container1,
footer{
    background-color:#1F2937;
    color:#F9FAF8;
}

.container1{
    display:flex;
    flex-direction:column;
    padding-left:48px;
    align-items:center;
    justify-content:center;
}

.box1{
    font-size:24px;
    color:#F9FAF8;
    display:flex;
    align-items:center;
    margin-bottom:42px;
    width:900px;
}

ul{
    list-style-type:none;
    display:flex;
    margin-left:auto;
}

a{
    text-decoration:none;
    margin:8px;
    font-size:18px;
    color:#E5E7EB;
}

.box2{
    display:flex;
    width:900px;
    justify-content:space-between;
}

.box-21{
    color: #F9FAF8;
    display:flex;
    flex-direction:column;
    width:350px;
    align-items:center;
}

#main{
    font-size:48px;
    font-weight:bold;
}

button{
    background-color:#3882F6;
    color:#F9FAF8;
    align-self:flex-start;
}
.container2{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin:60px;
}
.header{
    font-size:36px;
    font-weight:bolder;
    color:#1F2937;
    margin-bottom:16px;
}
.imgs-texts{
    display:flex;
    width:600px;
}
.container3{
    background-color:#E5E7EB;
    color:#1F2937;
    font-size:36px;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:86px;
    margin-bottom:60px;
}
.italics{
    align-self:center;
    width:600px;
}
.container4{
    background-color:#3882F6;
    display:flex;
    align-self:center;
    align-items:center;
    margin-bottom:60px;
}
